//---------------------------------------------------------------------------
//
// Name:        clash_update_devApp.rc
// Author:      hobbes
// Created:     5/13/2011 6:34:08 PM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
